/* Import Local SCSS Files */
/* Setting Variables : Font Family */
/* Setting Variables : Text Color */
/* Setting Variables : Object Color */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css");
* {
  box-sizing: border-box;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 500;
}

button {
  cursor: pointer;
}

input {
  border: none;
}

/* Font Icon : Bootstrap Icons */
/* Google Web Fonts */
/* === Noto Sans KR === */
/* === Roboto Web === */
/* === Raleway === */
/* Spoqa Han Sans Neo Web Fonts */
/* Pretendard Web Fonts */
@font-face {
  font-family: 'Pretendard-Regular';
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

/* ########## Common Style 1 ########## */
body {
  font-weight: 300;
  margin: 0;
  font-size: 16px;
  background-color: #F8F9FA;
}

.img-responsive {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.btn {
  border: none;
  margin: 2px;
}

.btn-sm {
  padding: 10px 12px 8px 12px;
  font-size: 143x;
}

.btn-select-primary {
  background-color: #e9ecef;
  border: 1px solid #e9ecef;
  color: #495057;
}

.btn-select-primary:hover, .btn-select-primary.active {
  background-color: #3184FF;
  border: 1px solid #3184FF;
  color: #FFFFFF;
}

.btn-primary {
  background-color: #3184FF;
  color: #FFFFFF;
}

.btn-outline-primary {
  background-color: transparent;
  border: 1px solid #3184FF;
  color: #3184FF;
}

.btn-violet {
  background-color: #845EF7;
  color: #FFFFFF;
}

.btn-outline-violet {
  background-color: transparent;
  border: 1px solid #845EF7;
  color: #845EF7;
}

.pill {
  border-radius: 100px;
}

.rounded {
  border-radius: 8px;
}

/* Responsive for PC */
/* ########## Front Page : index.html ########## */
.front-page {
  background: url("/images/bg-pc.png") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  transition: all 0.5s ease-out;
}

.front-page .signin {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.front-page .signin .admin-login {
  width: 360px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.front-page .signin .admin-login .logo {
  margin-bottom: 60px;
  text-align: center;
  transition: all 0.5s ease-out;
}

.front-page .signin .admin-login .logo-sm {
  display: none;
}

.front-page .signin .admin-login .login-field {
  background-color: #FFFFFF;
  border-radius: 16px;
  padding: 30px;
  margin-bottom: 40px;
  text-align: left;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.06);
  transition: all 0.5s ease-out;
}

.front-page .signin .admin-login .login-field .login-title {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  font-size: 20px;
  line-height: 1;
}

.front-page .signin .admin-login .login-field p {
  font-size: 15px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.front-page .signin .admin-login .login-field div {
  position: relative;
  margin: 12px 0;
}

.front-page .signin .admin-login .login-field div :is(input[type=email], input[type=password], input[type=text]) {
  background-color: transparent;
  border: 1px solid #adb5bd;
  width: 100%;
  padding: 14px;
  border-radius: 8px;
  font-size: 15px;
  height: 56px;
}

.front-page .signin .admin-login .login-field div :is(input[type=email], input[type=password], input[type=text])::placeholder {
  color: #adb5bd;
}

.front-page .signin .admin-login .login-field div :is(input[type=email], input[type=password], input[type=text]):focus {
  border: 2px solid #3184FF;
}

.front-page .signin .admin-login .login-field div .bi {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #adb5bd;
}

.front-page .signin .admin-login .login-field div .bi:focus {
  color: #3184FF;
}

.front-page .signin .admin-login .login-field label {
  cursor: pointer;
  font-size: 14px;
  color: #868e96;
}

.front-page .signin .admin-login .login-field label input[type=checkbox] {
  display: none;
}

.front-page .signin .admin-login .login-field label input[type=checkbox]:checked + em:before {
  content: '\F26D';
  color: #3184FF;
}

.front-page .signin .admin-login .login-field label em:before {
  content: '\F584';
  font-family: bootstrap-icons;
  font-style: normal;
  display: inline-block;
  margin-right: 3px;
  transform: translateY(2px);
  font-size: 15px;
  color: #adb5bd;
}

.front-page .signin .admin-login .login-field .btn-login {
  background-color: #e9ecef;
  border: none;
  color: #495057;
  width: 100%;
  height: 48px;
  padding: 14px;
  border-radius: 8px;
  font-size: 16px;
  margin-top: 20px;
}

.front-page .signin .admin-login .login-field .btn-login:focus {
  background-color: #3184FF;
  color: #FFFFFF;
}

.front-page .signin .admin-login span {
  font-size: 13px;
  color: #adb5bd;
  font-family: "Roboto", sans-serif;
}

/* ########## Sub Page ########## */
.sub_wrap {
  display: flex;
  width: 100%;
  letter-spacing: -0.75px;
}

.sub_wrap .menu-btn {
  position: fixed;
  top: 30px;
  left: 24px;
  z-index: 9999;
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.sub_wrap .menu-btn i {
  transition: all 0.3s ease;
}

.sub_wrap .menu-btn i.close {
  opacity: 0;
}

.sub_wrap #btn:checked ~ .menu-btn {
  left: 210px;
}

.sub_wrap #btn:checked ~ .menu-btn i.close {
  opacity: 1;
  transform: rotate(-180deg);
}

.sub_wrap #btn:checked ~ .menu-btn i.menu {
  opacity: 0;
  transform: rotate(180deg);
}

.sub_wrap #btn:checked ~ .sidebar-nav {
  left: 0;
}

.sub_wrap .sidebar-nav {
  width: 280px;
  background-color: #FFFFFF;
  height: 100vh;
  border-right: 1px solid #dee2e6;
  padding: 30px;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.3s ease;
  z-index: 999;
}

.sub_wrap .sidebar-nav .logo-sm {
  margin-bottom: 50px;
}

.sub_wrap .sidebar-nav ul {
  list-style-type: none;
  padding-left: 0;
}

.sub_wrap .sidebar-nav ul li {
  position: relative;
  width: 100%;
  cursor: pointer;
  margin-bottom: 24px;
  user-select: none;
  -webkit-user-select: none;
  transition: all 0.25s ease-in-out;
}

.sub_wrap .sidebar-nav ul li a {
  padding: 10px 0 8px 0;
  display: inline-block;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  font-size: 17px;
  font-weight: 400;
  width: calc(100% - 50px);
}

.sub_wrap .sidebar-nav ul li a:hover {
  text-decoration: none;
  border-bottom: 0;
  color: #3184FF;
}

.sub_wrap .sidebar-nav ul li a i {
  margin-right: 5px;
  vertical-align: top;
}

.sub_wrap .sidebar-nav ul li.selected a {
  color: #3184FF;
  display: block;
  margin-right: 50px;
}

.sub_wrap .sidebar-nav ul li a.menu-toggle {
  position: relative;
  width: 40px;
  text-align: center;
  border-bottom: 0;
  vertical-align: top;
}

.sub_wrap .sidebar-nav ul li a.menu-toggle:after {
  position: relative;
  right: 0;
  text-align: middle;
  font-family: bootstrap-icons;
  font-size: 14px;
  content: '\F282';
}

.sub_wrap .sidebar-nav ul li a.menu-toggle:focus, .sub_wrap .sidebar-nav ul li a.menu-toggle:hover {
  border-bottom: 0;
  text-decoration: none;
  color: #3184FF;
}

.sub_wrap .sidebar-nav ul li a.menu-toggle.rotate {
  transform: rotate(180deg);
}

.sub_wrap .sidebar-nav ul.sub-menu {
  display: none;
  font-size: 15px;
}

.sub_wrap .sidebar-nav ul.sub-menu li {
  padding: 5px 0 5px 30px;
  border-radius: 8px;
  margin-bottom: 0;
  margin-top: 2px;
}

.sub_wrap .sidebar-nav ul.sub-menu li:hover {
  color: #FFFFFF;
  background-color: #3184FF;
}

.sub_wrap .sidebar-nav ul.sub-menu li a {
  font-size: 15px;
}

.sub_wrap .sidebar-nav ul.sub-menu li a:hover {
  color: #FFFFFF;
}

.sub_wrap .content-wrap {
  position: absolute;
  top: 0;
  left: 280px;
  width: calc(100% - 280px);
  transition: all 0.3s ease;
}

.sub_wrap .content-wrap .content-wrap-header {
  width: calc(100% - 280px);
  height: 90px;
  background-color: #FFFFFF;
  border-bottom: 1px solid #dee2e6;
  display: flex;
  padding: 30px 50px 30px 50px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 99;
}

.sub_wrap .content-wrap .content-wrap-header .content-title {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  margin-left: 4px;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

.sub_wrap .content-wrap .content-wrap-header .content-title span {
  font-size: 16px;
  font-weight: 400;
  color: #868e96;
}

.sub_wrap .content-wrap .content-wrap-header .content-title span:after {
  font-family: bootstrap-icons;
  content: '\F231';
  font-size: 13px;
  margin-left: 10px;
  margin-right: 10px;
}

.sub_wrap .content-wrap .content-wrap-header .admin-info .profile {
  margin-right: 10px;
}

.sub_wrap .content-wrap .content-wrap-header .admin-info i {
  font-size: 24px;
  color: #343a40;
}

.sub_wrap .content-wrap .content-wrap-body {
  width: 100%;
  height: auto;
  padding: 40px 20px 40px 50px;
  position: absolute;
  top: 40px;
}

.sub_wrap .content-wrap .content-wrap-body .content-info {
  margin-bottom: 30px;
  padding-left: 8px;
}

.sub_wrap .content-wrap .content-wrap-body .content-info .daily-status {
  font-size: 24px;
  font-weight: 500;
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.sub_wrap .content-wrap .content-wrap-body .content-info .daily-status i {
  margin-right: 5px;
}

.sub_wrap .content-wrap .content-wrap-body .content-info .daily-status span {
  font-size: 36px;
  color: #3184FF;
  font-weight: 700;
  margin: 0 5px;
}

.sub_wrap .content-wrap .content-wrap-body .dashboard {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.sub_wrap .content-wrap .content-wrap-body .dashboard .item {
  width: 50%;
  padding: 0 30px 30px 0;
}

.sub_wrap .content-wrap .content-wrap-body .dashboard .item .card {
  background-color: #FFFFFF;
  width: 100%;
  height: auto;
  padding: 30px 24px;
  border-radius: 16px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.06);
}

.sub_wrap .content-wrap .content-wrap-body .dashboard .item .card .card-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.sub_wrap .content-wrap .content-wrap-body .dashboard .item .card .card-header h3 {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 0;
}

.sub_wrap .content-wrap .content-wrap-body .dashboard .item .card .card-header span {
  font-size: 14px;
  line-height: 1.6;
}

.sub_wrap .content-wrap .content-wrap-body .dashboard .item .card .card-header .right-info {
  display: inline-flex;
  font-size: 14px;
  transition: all 0.5s ease;
}

.sub_wrap .content-wrap .content-wrap-body .dashboard .item .card .card-header .right-info .select-single {
  background-color: transparent;
  border: 1px solid #adb5bd;
  color: #adb5bd;
  font-family: bootstrap-icons;
}

.sub_wrap .content-wrap .content-wrap-body .dashboard .item .card .card-header .right-info .select-single:before {
  content: '\F26A';
  margin-right: 5px;
}

.sub_wrap .content-wrap .content-wrap-body .dashboard .item .card .card-header .right-info .select-single:hover, .sub_wrap .content-wrap .content-wrap-body .dashboard .item .card .card-header .right-info .select-single.active {
  border: 1px solid #3184FF;
  color: #3184FF;
}

.sub_wrap .content-wrap .content-wrap-body .dashboard .item .card .card-header .right-info .select-multi {
  background-color: transparent;
  border: 1px solid #adb5bd;
  color: #adb5bd;
  font-family: bootstrap-icons;
}

.sub_wrap .content-wrap .content-wrap-body .dashboard .item .card .card-header .right-info .select-multi:before {
  content: '\F26A';
  margin-right: 5px;
}

.sub_wrap .content-wrap .content-wrap-body .dashboard .item .card .card-header .right-info .select-multi:hover, .sub_wrap .content-wrap .content-wrap-body .dashboard .item .card .card-header .right-info .select-multi.active {
  border: 1px solid #845EF7;
  color: #845EF7;
}

.sub_wrap .content-wrap .content-wrap-body .dashboard .item .card .card-header .right-info .today {
  border-radius: 30px;
  padding: 10px 16px 8px 16px;
  border: 1px solid #dee2e6;
  background-color: transparent;
  font-size: 14px;
}

.sub_wrap .content-wrap .content-wrap-body .dashboard .item .card .card-header .right-info .selectbox {
  position: relative;
  margin-right: 4px;
}

.sub_wrap .content-wrap .content-wrap-body .dashboard .item .card .card-header .right-info .selectbox select {
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid #adb5bd;
  color: #868e96;
  cursor: pointer;
  margin: 2px;
  font-size: 14px;
}

.sub_wrap .content-wrap .content-wrap-body .tab-contents {
  width: 100%;
}

.sub_wrap .content-wrap .content-wrap-body .tab-contents label {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.sub_wrap .content-wrap .content-wrap-body .tab-contents .tab-item {
  box-sizing: border-box;
  display: block;
  float: left;
  width: 200px;
  cursor: pointer;
  border-bottom: 1px solid #adb5bd;
  color: #868e96;
  transition: .2s;
  text-align: center;
  padding: 1em;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
}

.sub_wrap .content-wrap .content-wrap-body .tab-contents .tab-item:not-first-of-type {
  margin-left: 1em;
}

.sub_wrap .content-wrap .content-wrap-body .tab-contents .tab-item:hover {
  border-bottom: 3px solid #3184FF;
  color: #3184FF;
}

.sub_wrap .content-wrap .content-wrap-body .tab-contents input:checked + label {
  border-bottom: 3px solid #3184FF;
  color: #3184FF;
}

.sub_wrap .content-wrap .content-wrap-body .tab-contents input {
  display: none;
}

.sub_wrap .content-wrap .content-wrap-body .tab-contents #tab-b1,
.sub_wrap .content-wrap .content-wrap-body .tab-contents #tab-b2 {
  display: none;
}

.sub_wrap .content-wrap .content-wrap-body .tab-contents #tab-1:checked ~ #tab-b1,
.sub_wrap .content-wrap .content-wrap-body .tab-contents #tab-2:checked ~ #tab-b2 {
  display: block;
}

.sub_wrap .content-wrap .content-wrap-body .tab-contents .clear {
  margin-top: 30px;
}

.sub_wrap .content-wrap .content-wrap-body .tab-contents .clear::after {
  content: '';
  display: block;
  clear: both;
}

.sub_wrap .content-wrap .content-wrap-body .tab-contents .card-1 {
  background-color: #FFFFFF;
  border-radius: 16px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 20px;
  margin-right: 30px;
}

.sub_wrap .content-wrap .content-wrap-body .tab-contents .card-1 .card-body {
  padding: 20px 30px;
}

.sub_wrap .content-wrap .content-wrap-body .tab-contents .card-1 .card-body ul {
  padding: 8px;
  margin: 0;
}

.sub_wrap .content-wrap .content-wrap-body .tab-contents .card-1 .card-body ul li {
  line-height: 1.6;
}

/* ########## Common style 2 ########## */
/* Table */
.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
}

table {
  width: 100%;
  color: #343a40;
  margin: 10px 0;
  border-collapse: collapse;
}

table tr:hover {
  background-color: #F8F9FA;
}

table th {
  background-color: #f1f3f5;
  border-bottom: 2px solid #ced4da;
  padding: 15px 10px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  vertical-align: bottom;
  font-size: 16px;
}

table td {
  border-bottom: 1px solid #ced4da;
  padding: 15px 10px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  vertical-align: top;
}

/* Assets */
.assets {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search_box {
  display: flex;
  width: 460px;
  height: 48px;
  border-radius: 4px;
  border: 1px solid #adb5bd;
  padding: 10px;
}

.search_box .dropdown {
  width: 120px;
  border-right: 2px solid #adb5bd;
  color: #868e96;
  position: relative;
  cursor: pointer;
}

.search_box .dropdown .default_option {
  padding: 6px 15px;
  font-size: 15px;
  font-weight: 400;
}

.search_box .dropdown ul {
  display: none;
  position: absolute;
  top: 40px;
  left: -10px;
  width: 120px;
  background-color: #FFFFFF;
  list-style-type: none;
  border-radius: 4px;
  border: 1px solid #adb5bd;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.06);
}

.search_box .dropdown ul.active {
  display: block;
}

.search_box .dropdown ul li {
  padding-bottom: 20px;
  font-size: 15px;
  font-weight: 400;
  padding: 8px 20px;
}

.search_box .dropdown ul li:last-child {
  padding-bottom: 5px;
}

.search_box .dropdown ul li:hover {
  color: #3184FF;
}

.search_box .dropdown:before {
  content: '';
  position: absolute;
  top: 12px;
  right: 12px;
  border: 6px solid;
  border-color: #868e96 transparent transparent transparent;
}

.search_box .search_field {
  width: 340px;
  height: 100%;
  position: relative;
}

.search_box .search_field input {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 15px;
  padding-left: 20px;
  padding-right: 38px;
  color: #495057;
}

.search_box .search_field i {
  position: absolute;
  top: 4px;
  right: 4px;
  font-size: 24px;
  color: #adb5bd;
  cursor: pointer;
}

.search_box::-webkit-input-placeholder, .search_box::-moz-placeholder, .search_box:-ms-input-placeholder {
  color: #868e96;
}
