/* Import Local SCSS Files */ 
@import "variables", "reset", "fonts" ;

/* ########## Common Style 1 ########## */
body {
    font-weight: 300;
    margin: 0;
    font-size: 16px;
    background-color: $cloudy-gray;
}

.img-responsive {
    width: 100%;
    max-width: 100%;
    height: auto;
}
.btn {
    border: none;
    margin: 2px;
}
.btn-sm {
    padding: 10px 12px 8px 12px;
    font-size: 143x;
}
.btn-select-primary {
    background-color: $silver-gray;
    border: 1px solid $silver-gray;
    color: $dim-black;
    &:hover,
    &.active {
        background-color: $primary;
        border: 1px solid $primary;
        color: $white;
    }
}
.btn-primary {
    background-color: $primary;
    color: $white;
}
.btn-outline-primary {
    background-color: transparent;
    border: 1px solid $primary;
    color: $primary;
}
.btn-violet {
    background-color: $violet;
    color: $white;
}
.btn-outline-violet {
    background-color: transparent;
    border: 1px solid $violet;
    color: $violet;
}
.pill {
    border-radius: 100px;
}
.rounded {
    border-radius: 8px;
}
/* Responsive for PC */
/* ########## Front Page : index.html ########## */
.front-page {
    background: url('/images/bg-pc.png') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    transition: all 0.5s ease-out;
    .signin {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        .admin-login {
            width: 360px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            .logo {
                margin-bottom: 60px;
                text-align: center;
                transition: all 0.5s ease-out;
            }
            .logo-sm {
                display: none;
            }
            .login-field {
                background-color: $white;
                border-radius: 16px;
                padding: 30px;
                margin-bottom: 40px;
                text-align: left;
                box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.06);
                transition: all 0.5s ease-out;
                .login-title {
                    font-family: $secondary-kr;
                    font-size: 20px;
                    line-height: 1;
                }
                p {
                    font-size: 15px;
                    margin-bottom: 20px;
                    margin-top: 10px;
                }
                div {
                    position: relative;
                    margin: 12px 0;
                    :is(input[type=email], input[type=password], input[type=text]) {
                        background-color: transparent;
                        border: 1px solid $light-black;
                        width: 100%;
                        padding: 14px;
                        border-radius: 8px;
                        font-size: 15px;
                        height: 56px;
                        &::placeholder {
                            color: $light-black;
                        }
                        &:focus {
                            border: 2px solid $primary;
                        }
                    }  
                    .bi {
                        position: absolute;
                        right: 15px;
                        top: 50%;
                        transform: translateY(-50%);
                        cursor: pointer;
                        color: $light-black;
                        &:focus {
                            color: $primary;
                        }
                    }
                }
                label {
                    cursor: pointer;
                    font-size: 14px;
                    color: $silver-black;
                    input[type=checkbox] {
                        display: none;
                        &:checked + em:before {
                            content: '\F26D';
                            color: $primary;
                        }
                    }
                    em:before {
                        content: '\F584';
                        font-family: $bs-font;
                        font-style: normal;
                        display: inline-block;
                        margin-right: 3px;
                        transform: translateY(2px);
                        font-size: 15px;
                        color: $light-black;
                    }
                }
                .btn-login {
                    background-color: $silver-gray;
                    border: none;
                    color: $dim-black;
                    width: 100%;
                    height: 48px;
                    padding: 14px;
                    border-radius: 8px;
                    font-size: 16px;
                    margin-top: 20px;
                    &:focus {
                        background-color: $primary;
                        color: $white;
                    }
                }
            }
            span {
                font-size: 13px;
                color: $light-black;
                font-family: $primary-en;
            }
        }
    }
}


/* ########## Sub Page ########## */
.sub_wrap {
    display: flex;
    width: 100%;
    letter-spacing: -0.75px;
    .menu-btn {
        position: fixed;
        top: 30px;
        left: 24px;
        z-index: 9999;
        cursor: pointer;
        display: none;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;
        i {
            transition: all 0.3s ease;
        }
        i.close {
            opacity: 0;
        }
    }
    #btn:checked ~ .menu-btn {
        left: 210px;
        i.close {
            opacity: 1;
            transform: rotate(-180deg);
        }
        i.menu {
            opacity: 0;
            transform: rotate(180deg);
        }
    }
    #btn:checked ~ .sidebar-nav {
        left: 0;
    }
    .sidebar-nav {
        width: 280px;
        background-color: $white;
        height: 100vh;
        border-right: 1px solid $dim-gray;
        padding: 30px;
        position: fixed;
        top: 0;
        left: 0;
        transition: all 0.3s ease;
        z-index: 999;
        // overflow: hidden;
        // left: -300px;
        .logo-sm {
            margin-bottom: 50px;
        }
        ul {
            list-style-type: none;
            padding-left: 0;
            li {
                position: relative;
                width: 100%;
                cursor: pointer;
                margin-bottom: 24px;
                user-select: none;
                -webkit-user-select: none;
                transition: all 0.25s ease-in-out;
                a {
                    padding: 10px 0 8px 0;
                    display: inline-block;
                    font-family: $secondary-kr;
                    font-size: 17px;
                    font-weight: 400;
                    width: calc(100% - 50px);
                    &:hover {
                        text-decoration: none;
                        border-bottom: 0;
                        color: $primary;
                    }
                    i {
                        margin-right: 5px;
                        vertical-align: top;
                    }
                }
                &.selected a {
                    color: $primary;
                    display: block;
                    margin-right: 50px;
                }
                a.menu-toggle {
                    position: relative;
                    width: 40px;
                    text-align: center;
                    border-bottom: 0;
                    vertical-align: top;
                    &:after {
                        position: relative;
                        right: 0;
                        text-align: middle;
                        font-family: $bs-font;
                        font-size: 14px;
                        content: '\F282';
                    }
                    &:focus,
                    &:hover {
                        border-bottom: 0;
                        text-decoration: none;
                        color: $primary;
                    }
                    &.rotate {
                        transform: rotate(180deg);
                    }
                }
            }
        }
        ul.sub-menu {
            display: none;
            font-size: 15px;
        }
        ul.sub-menu li {
            padding: 5px 0 5px 30px;
            border-radius: 8px;
            margin-bottom: 0;
            margin-top: 2px;
            &:hover {
                color: $white;
                background-color: $primary;
            }
            a {
                font-size: 15px;
                &:hover {
                    color: $white;
                }
            }
        }
    }
    .content-wrap {
        position: absolute;
        top: 0;
        left: 280px;
        width: calc(100% - 280px);
        transition: all 0.3s ease;
        .content-wrap-header {
            width: calc(100% - 280px);
            height: 90px;
            background-color: $white;
            border-bottom: 1px solid $dim-gray;
            display: flex;
            padding: 30px 50px 30px 50px;
            justify-content: space-between;
            align-items: center;
            position: fixed;
            z-index: 99;
            .content-title {
                display: flex;
                align-items: center;
                font-size: 20px;
                font-weight: 500;
                margin-left: 4px;
                font-family: $secondary-kr;
                span {
                    font-size: 16px;
                    font-weight: 400;
                    color: $silver-black;
                    &:after {
                        font-family: $bs-font;
                        content: '\F231';
                        font-size: 13px;
                        margin-left: 10px;
                        margin-right: 10px;
                    }
                }
            }
            .admin-info {
                .profile {
                    margin-right: 10px;
                }
                i {
                    font-size: 24px;
                    color: $dark-black;
                }
            }
        }
        .content-wrap-body {
            width: 100%;
            height: auto;
            padding: 40px 20px 40px 50px;
            position: absolute;
            top: 40px;
            .content-info {
                margin-bottom: 30px;
                padding-left: 8px;
                .daily-status {
                    font-size: 24px;
                    font-weight: 500;
                    display: flex;
                    align-items: center;
                    margin-top: 50px;
                    i {
                        margin-right: 5px;
                    }
                    span {
                        font-size: 36px;
                        color: $primary;
                        font-weight: 700;
                        margin: 0 5px;
                    }
                }
            }
            .dashboard {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                .item {
                    width: 50%;
                    padding: 0 30px 30px 0;
                    .card {
                        background-color: $white;
                        width: 100%;
                        height: auto;
                        padding: 30px 24px;
                        border-radius: 16px;
                        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.06);
                        .card-header {
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            margin-bottom: 20px;
                            h3 {
                                font-family: $secondary-kr;
                                font-size: 20px;
                                font-weight: 500;
                                margin-bottom: 0;
                            }
                            span {
                                font-size: 14px;
                                line-height: 1.6;
                            }
                            .right-info {
                                display: inline-flex;
                                font-size: 14px;
                                transition: all 0.5s ease;
                                .select-single {
                                    background-color: transparent;
                                    border: 1px solid $light-black;
                                    color: $light-black;
                                    font-family: $bs-font;
                                    &:before {
                                        content: '\F26A';
                                        margin-right: 5px;
                                    }
                                    &:hover,
                                    &.active {
                                        border: 1px solid $primary;
                                        color: $primary;
                                    }
                                }
                                .select-multi {
                                    background-color: transparent;
                                    border: 1px solid $light-black;
                                    color: $light-black;
                                    font-family: $bs-font;
                                    &:before {
                                        content: '\F26A';
                                        margin-right: 5px;
                                    }
                                    &:hover,
                                    &.active {
                                        border: 1px solid $violet;
                                        color: $violet;
                                    }
                                }
                                .today {
                                    border-radius: 30px;
                                    padding: 10px 16px 8px 16px;
                                    border: 1px solid $dim-gray;
                                    background-color: transparent;
                                    font-size: 14px;
                                }
                                .selectbox {
                                    position: relative;
                                    margin-right: 4px;
                                    select {
                                        padding: 10px 14px;
                                        border-radius: 8px;
                                        border: 1px solid $light-black;
                                        color: $silver-black;
                                        cursor: pointer;
                                        margin: 2px;
                                        font-size: 14px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            ul {
                width: 100%;
                &.tabs {
                    margin: 0;
                    padding: 0;
                    margin-top: 40px;
                    border-bottom: 1px solid $dim-gray;
                    margin-bottom: 20px;
                }
                li {
                    display: inline-block;
                    background: none;
                    padding: 14px 20px;
                    cursor: pointer;
                    text-align: center;
                    width: 180px;
                    font-size: 17px;
                    font-weight: 400;
                    &.current {
                        color: $primary;
                        border-bottom: 2px solid $primary;
                        font-weight: 500;
                    }
                }
            }
            .tab-content {
                display: none;
                &.current {
                    display: inherit;
                }
                .card-1 {
                    background-color: $white;
                    border-radius: 16px;
                    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.06);
                    margin-bottom: 20px;
                    margin-right: 30px;
                    .card-body {
                        padding: 20px 24px;
                        span {
                            font-size: 15px;
                            line-height: 1.6;
                            font-weight: 400;
                            margin-bottom: 0;
                            color: $silver-black;
                            .blank {
                                padding-left: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* ########## Common style 2 ########## */
/* Table */
.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
}
table {
    width: 100%;
    color: $dark-black;
    margin: 10px 0;
    border-collapse: collapse;
    tr {
        &:hover {
            background-color: $cloudy-gray;
        }
    }
    th {
        background-color: $light-gray;
        border-bottom: 2px solid $dark-gray;
        padding: 15px 10px;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        vertical-align: bottom;
        font-size: 16px;
    }
    td {
        border-bottom: 1px solid $dark-gray;
        padding: 15px 10px;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        vertical-align: top;
        
    }
}
/* Assets */
.assets {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-box {
    width: 400px;
    background-color: transparent;
    border: 1px solid $light-black;
    border-radius: 4px;
    height: 44px;
    display: flex;
    padding: 10px 6px;
    .dropdown {
        width: 120px;
        border-right: 2px solid $light-black;
        position: relative;
        cursor: pointer;
        button.dropbtn {
            font-size: 15px;
            background-color: transparent;
            border: none;
            padding: 4px 12px;
            color: $dim-black;
        }
        .dropdown-content {
            position: absolute;
            width: 100px;
            left: -6px;
            top: 35px;
            background-color: $white;
            border: 1px solid $light-black;
            border-radius: 4px;
            padding: 15px 20px;
            display: none;
            a {
                display: block;
                font-size: 15px;
                font-weight: 400;
                line-height: 1.79;
                color: $dim-black;
                &:hover {
                    color: $primary;
                }
            }
            &.active {
                display: block;
            }
        }
        &:before {
            content: '\F229';
            font-family: $bs-font;
            position: absolute;
            top: 6px;
            right: 12px;
            font-size: 13px;
            color: $silver-black;
        }
    }
    .search-field {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 6px;
        input {
            width: 90%;
            height: 100%;
            font-size: 15px;
            padding-left: 12px;
            border: none;
            &::-webkit-input-placeholder {
                color: $light-black;
            }
        }
        i {
            color: $light-black;
        }
    }
}