/* Setting Variables : Font Family */
$primary-kr: 'Pretendard-Regular';
$secondary-kr: 'Spoqa Han Sans Neo', 'sans-serif';
$primary-en: 'Roboto', sans-serif;
$bs-font: bootstrap-icons;

/* Setting Variables : Text Color */
$black: #212529;
$dark-black: #343a40; // 문서 본문 전체 텍스트 색상
$dim-black: #495057;
$silver-black: #868e96;
$light-black: #adb5bd; // 입력요소(input) 보더 색상
$dark-gray: #ced4da;
$dim-gray: #dee2e6;
$silver-gray: #e9ecef; 
$light-gray: #f1f3f5;
$cloudy-gray: #F8F9FA;

/* Setting Variables : Object Color */
$primary: #3184FF;
$indigo: #4c6ef5;
$cyon: #22b8cf;
$teal: #20c997;
$green: #51cf66;
$violet: #845EF7;
$pink: #f06595;
$red: #fa5252;
$orange: #fd7e14;
$crimson: #ED2040;
$yellow: #ffd43b;
$white: #FFFFFF;